@import "tailwindcss";

@layer base {
  input {
    @apply mt-1 block w-full px-4 py-2 rounded-lg border border-neutral-light bg-white;
  }

  label {
    @apply text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70
  }
}

@theme {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  /* --color-neutral: var(--neutral); */
  --color-neutral-light: var(--neutral-light);
  --color-success: var(--success);
  --color-alert: var(--alert);
  --color-notice: var(--notice);
  --color-caramel: var(--caramel)
}

:root {

  --primary: oklch(0.21 0.0398 265.75);
  --primary-light: oklch(0.28 0.0368 260.03);
  --primary-dark: oklch(0.13 0.0406 264.7);
  --muted: oklch(0.55 0.0138 285.94);
  --accent: oklch(0.75 0.139 232.66);
  --accent-light: oklch(0.83 0.1013 230.32);
  --background: oklch(0.21 0.0398 265.75);
  --background-dark: oklch(0.13 0.0406 264.7);
  /* --neutral:oklch(0.71 0.0351 256.79); */
  --neutral-light: oklch(0.87 0.0198 252.89);
  --success: oklch(0.7 0.1491 162.48);
  --alert: oklch(0.64 0.2078 25.33);
  --notice: oklch(0.86 0.1731 91.94);
  --caramel: oklch(66.14% 0.0661 72.71);
}

/* pagination style */

.pagy {
  @apply flex space-x-1 font-semibold text-sm text-gray-500;
  a:not(.gap) {
    @apply block rounded-sm p-[10px] bg-white border;
    &:hover {
      @apply bg-gray-300;
    }
    &:not([href]) { /* disabled links */
      @apply text-gray-300 bg-gray-100 cursor-default;
    }
    &.current {
      @apply bg-black text-white p-[10px];
    }
  }
  label {
    @apply inline-block whitespace-nowrap bg-gray-200 rounded-lg p-[10px];
    input {
      @apply bg-gray-100 border-none rounded-md;
    }
  }
}